
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(Background.png);
    background-size: cover;
    background-position-x: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 20px;
    width: 300px;
    color: black;
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    gap: 10px;
    box-shadow: 7px 7px;
}

.form-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label {
    font-size: 16px;
    font-weight: 700;
}
input {
    background-color: rgb(236, 236, 236);
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    
}

.add input[type="submit"], button {
    font-size: 16px;
    font-weight: 580;
    border-style: solid;
    padding: 8px;
    border-radius: 8px;
    margin-top: 5px;
    background-color: rgb(0, 98, 255);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 6px black;
}
.list div {
    display: flex;
    flex-direction: column;
    padding: 8px;
    border: 3px solid black;
    border-radius: 8px;
    gap: 8px;
}

.add input[type="submit"], button:hover {
    background-color: rgb(0, 99, 212);
    transform: translateY(6px);
    box-shadow: 0px 1px black;
}
.error {
    font-size: 16px;
    color: red;
}
.border-red {
    border: 1px solid red;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item {
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
    box-shadow: 0px 3px black;
}
.item h3 {
    margin-top: 8px;
    font-size: 24px;
}
.item p {
    color: #484747;
}
.item button {
    background-color: red;
    color: white;
    border: 2px solid black;
    border-radius: 4px;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 8px;
    margin-top: 0px;
    box-shadow: 0px 3px black;
}
.item button:hover {
    background-color: rgb(203, 0, 0);
    transform: translateY(3px);
    box-shadow: 0px 0px black;
}